<app-top-bar></app-top-bar>
<main>
  <div class="container-fluid">
  <div class="alert alert-danger" *ngIf="showLoginError && pswToken == '0'">
    Invalid email address.
  </div>
  <div class="alert alert-danger" *ngIf="showLoginError && pswToken != '0'">
    Invalid token.
  </div>
  <div class="alert-success" *ngIf="this.messageConfirm.success && pswToken != '0'"> Sign in, please! </div>
  <div class="alert-success" *ngIf="this.messageConfirm.success && pswToken == '0'"> Check your email, please! </div>
  <h2> Give your email address</h2>
  <div class="container-fluid" *ngIf="pswToken == '0'">
  <form (submit)="submit()" [formGroup]="registrationForm">
    <div class="form-group">
      <div class="mb-6 row">
        <label for="exampleInputEmail1" class="col-sm-4 col-form-label">Email address</label>
        <div class="col-sm-8">
          <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp"
                 formControlName="username"
                 [ngClass]="{'is-invalid': registrationForm.controls.username.invalid && registrationForm.controls.username.touched}">
          <div class="invalid-feedback" *ngIf="registrationForm.controls.username.errors?.required">
            You must give an e-mail address!>
          </div>
        </div>

      </div>
    </div>
      <button type="submit" class="btn-lg btn-dark" >Send</button>
  </form>
  </div>
  <div class="container-fluid" *ngIf="pswToken != '0'">
    <form (submit)="pswNew()" [formGroup]="registrationForm">
      <div class="form-group">
        <div class="mb-6 row">
          <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Email address</label>
          <div class="col-sm-8">
            <input type="email" class="form-control form-control-sm" id="exampleInputEmail2" aria-describedby="emailHelp"
                   formControlName="username"
                   [ngClass]="{'is-invalid': registrationForm.controls.username.invalid && registrationForm.controls.username.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.username.errors?.required">
              You must give an e-mail address!>
            </div>
          </div>
          <label *ngIf="this.pswToken != '0'" for="exampleInputPassword2" class="col-sm-4 col-form-label">Password</label>
          <div *ngIf="this.pswToken != '0'" class="col-sm-8">
            <input  type="password" class="form-control form-control-sm" id="exampleInputPassword2"
                    formControlName="password"
                    [ngClass]="{'is-invalid': registrationForm.controls.password.invalid && registrationForm.controls.password.touched}">
            <div class="invalid-feedback" *ngIf="registrationForm.controls.password.errors?.required">
              You must give a password!>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn-lg btn-dark" >Send</button>
    </form>
  </div>
  </div>
</main>
<app-footer></app-footer>
