.form-control{
  background-color: rgba(229, 228, 255, 0.0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.container-fluid{
  display: flow;
  padding-left: 120px;
  padding-right: 120px;

}
