
<div class="modal-header">
  <img src="../../../assets/shopping-cart-1985%20(3).png" alt="">
  <h4 class="modal-title">Kosár tartalma</h4>

  <button type="button" class="btn btn-hidden"  data-dismiss="modal"  aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">X</span>
  </button>
</div>
<div class="modal-body">
  <h4> A kiválasztott termékek.</h4>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click) ="submit()" >Fizetés</button>
</div>

