.modal-header{
  background-color: rgba(255,198,165,1.0);
}
.btn-hidden {
  color: white;
}
#cart-modal-body{
  background-size: cover;
}
#cart-modal-footer{
  background-color: gainsboro;
}

.btn-primary{
  justify-content: end;
}
