img {
  width: 75px;
  height: 75px;
}

#imgTd {
  width: 30px;
}

#nameTd {
  width: 75px;
}

#sizeTd {
  width: 60px;
}

#quantityTd {
  width: 75px;
}

#priceTd {
  width: 30px;
}

#buttonTd {
  width: 30px;
}
