img {
  width: 30px;
  height: 30px;
}

#imgTd {
  width: 30px;
}

#nameTd {
  width: 75px;
}

#sizeTd {
  width: 30px;
}

#quantityTd {
  width: 100px;
}

#priceTd {
  width: 30px;
}

#buttonTd {
  width: 30px;
}
