.card {
  background-color: rgba(229, 228, 255, 0.1);
  border: hidden;
}

.card-body {
  font-size: medium;
  color: blue;
  text-align: center;
  font-family: KacstNaskh;
}

img:hover {
  opacity: 0.8;
}


