
footer {
  background-color: rgba(229, 228, 255, 0.0);
  /*background-image: url("src/assets/nature.jpg");
   */
  display: flex;
  position: relative;
  left: 0px;
  width: 100%;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.icon-fb, .icon-insta {
  width: 32px;
  height: auto;
  margin: 20px;
}

a {
  text-decoration: none;
  color: black;
}

