<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h2 class="mt-4">About us</h2>
        <div class="content">
          <p>We are a clothing webshop. <br> Come here to spend your hard earned money!</p>
        </div>
      </div>
      <div class="col-lg-4" style="text-align: center">
        <h2 class="mt-4">Documents</h2>
        <a href="assets/standard-terms-and-conditions.pdf">Terms of Use</a><br>
        <a href="assets/privacy-policy-en_HU-20201030.pdf">Privacy Policy</a>
      </div>
      <div class="col-lg-3" style="text-align: end">
        <h2 class="mt-4">Contact us</h2>
        <p>mystore@gmail.ph</p>
        <p>1095 Ökörcsíny street 2.</p>
      </div>
        <div class="social col-lg-1">
          <a href="#"><img src="assets/iconmonstr-facebook-6.svg" alt="" class="icon-fb"></a>
          <a href="#"><img src="assets/1419647.svg" alt="" class="icon-insta"></a>
        </div>
      </div>
    </div>
</footer>
