<app-top-bar></app-top-bar>
<h2>Product Details</h2>


<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.details }}</p>
  <h5> Color: {{product.color}}</h5>
  <img src="https://webshopbackend.herokuapp.com/images/{{product.imageId}}">
  <button (click)="addToCart(product)">Buy</button>
</div>
<div *ngIf="sizes">

  <h5> S size available: {{sizes.sizeS}}</h5>
  <h5> M size available: {{sizes.sizeM}}</h5>
  <h5> L size available: {{sizes.sizeL}}</h5>
  <h5> XL size available: {{sizes.sizeXl}}</h5>
</div>
