<app-top-bar xmlns="http://www.w3.org/1999/html"></app-top-bar>
<main>
  <div>
    <img src="https://webshopbackend.herokuapp.com/images/{{product.imageId}}">
  </div>
  <div class="container">
    <div class="row">
      <div class="details col-lg-10" *ngIf="product">
        <h3>{{ product.name }}</h3>
        <h4>{{ product.price | currency }}</h4>
        <p>{{ product.details }}</p>
        <p> Color: {{ product.color}}</p>
        <div>
          <h5> S size available: {{sizes.sizeS}}</h5>
          <h5> M size available: {{sizes.sizeM}}</h5>
          <h5> L size available: {{sizes.sizeL}}</h5>
          <h5> XL size available: {{sizes.sizeXl}}</h5>
          <div>
            <img src="assets/Arctic_Unicorn.gif" id="uni">
          </div>
        </div>
        <button (click)="addToCart(product); uniconfirm()">Add to cart</button>
      </div>
      <div class="col">
        <form class="form-inline">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Size</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="size"
                  [(ngModel)]="orderedItem.size">
            <option selected>Select size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </form>
      </div>
      <div class="col">
        <form class="form-inline">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref2">Quantity</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2" name="quantity"
                  [(ngModel)]="orderedItem.quantity">
            <option selected>Select quantity</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>


