main {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

img {
  background-size: cover;
  background-attachment: fixed;
  width: 75%;
  height: 85%;
  object-fit: cover;
  margin-left: 140px;
}

.form-row {
  margin-top: 20px;
}.form-button {
   margin-top: 32px;
 }
label {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 100px;
}

button {
  background: peru;
  cursor: pointer;
  padding: 1.5rem;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  width: auto;
  position: relative;
  margin-top: 60px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


