main {
  margin: 100px;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

img {
  background-size: cover;
  background-attachment: fixed;
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-left: 140px;
}

.form-row {
  margin-top: 20px;
}.form-button {
   margin-top: 32px;
 }
label {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 100px;
}

* {
  box-sizing: border-box;
}

:root {
  --background: #E5FFB3;
  --background-accent: #DBF8A3;
  --background-accent-2: #BDE66E;
  --light: #92DE34;
  --dark: #69BC22;
  --text: #025600;
}

body {
  background-color: var(--background);
  background-image: linear-gradient(
    var(--background-accent-2) 10%,
    var(--background-accent) 10%
  ), linear-gradient(
    var(--background-accent) 10%,
    var(--background-accent-2) 10%
  );
  background-repeat: no-repeat;
  background-size: 100% 30px;
  background-position: top left, bottom left;
  min-height: 28vh;
}

button {
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #1976d2;
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px goldenrod inset;
  margin-bottom: 15px;
  align-self: flex-end;
}

button:hover {
  background-image: linear-gradient(
    145deg,
    transparent 10%,
    springgreen 10% 20%,
    transparent 20% 30%,
    hotpink 30% 40%,
    transparent 40% 50%,
    var(--dark) 50% 60%,
    transparent 60% 70%,
    hotpink 70% 80%,
    transparent 80% 90%,
    springgreen 90% 100%
  );
  animation: background 3s linear infinite;
}

@keyframes background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}
