<app-top-bar></app-top-bar>
<div class="container">
  <h2 class="title-page" id="purchase-form-h2">Shipping details</h2>
</div>
<div class="container pt-3" id="purchaseForm">
  <div class="mb-6 row">
    <label class="col-sm-4">First name</label>
    <div class="col-sm-8">
      <p>{{userProfile.firstName}}</p>
    </div>
  </div>
  <div class="mb-6 row">
    <label class="col-sm-4">Last name</label>
    <div class="col-sm-8">
      <p>{{userProfile.lastName}}</p>
    </div>
  </div>
  <div class="mb-6 row">
    <label class="col-sm-4">Address</label>
    <div class="col-sm-8">
      <p>{{userProfile.address}}</p>
    </div>
  </div>
  <div class="mb-6 row">
    <label class="col-sm-4">City</label>
    <div class="col-sm-8">
      <p>{{userProfile.city}}</p>
    </div>
  </div>
  <div class="mb-6 row">
    <label class="col-sm-4">Country</label>
    <div class="col-sm-8">
      <p>{{userProfile.country}}</p>
    </div>
  </div>
  <div class="mb-6 row">
    <label class="col-sm-4">Zip</label>
    <div class="col-sm-8">
      <p>{{userProfile.zipcode}}</p>
    </div>

  </div>
  <div class="mb-6 row">
    <label class="col-sm-4">Phone number</label>
    <div class="col-sm-8">
      <p>{{userProfile.phoneNumber}}</p>

    <div style="text-align: right">
      <button type="button" class="btn btn-primary" routerLink="/cart-page">Back</button>
      <button type="submit" class="btn btn-success ml-1" (click)="confirmMessage()">Purchase</button>

    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Comment</label>
    <textarea class="form-control" [(ngModel)]="p.comment"
              formControlName="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
 
</div>

<app-footer></app-footer>
