<app-top-bar></app-top-bar>
<div class="container" id="product-cont">
<!--<h2>Products</h2>-->

<!--input type="text" class="form-control" id="searchbar" placeholder="search" [(ngModel)]="filter"-->

  <!--div *ngFor="let product of products">< | productFilter: filter -->
  <!--h3>
    <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
      {{ product.name }}
    </a>
    <button type="button" class="btn btn-primary" routerLink="/product-details/{{product.id}}">
      More information
    </button>

  </h3>
  <p-- *ngIf="product.description">
    Description: {{ product.description }}
  </p>

</div-->
  <div class="sidenav" style="background-color: #1976d2;">

  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3" *ngFor="let s of products" >
      <app-card [pr]= 's'></app-card>
   </div>
 </div>
</div>
