<app-top-bar></app-top-bar>
<div class="container" id="product-cont">
<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/product-details', product.id]">
      {{ product.name }}
    </a>
    <button type="button" class="btn btn-primary" routerLink="/product-details/{{product.id}}">
      More information
    </button>

  </h3>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

</div>

</div>
