<app-top-bar></app-top-bar>
<form (submit)="submit()" [formGroup]="profileForm">
  <div class="container">
    <h2 class="mt-4">User Profile</h2>
    <ul class="list">
      <li class="order-history-tab mt-4" id="tab-title-order-history" role="tab" aria-controls="tab-order-history">
        <a href="#tab-order-history">Order History</a>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Purchased Items</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </li>
      <li class="personal-information-tab" id="tab-title-personal-information" role="tab"
          aria-controls="tab-personal-information">
        <a href="#tab-personal-information">Personal Information</a>
      </li>
    </ul>
    <div class="container-personal" id="tab-personal-information">
    </div>
    <div class="container-order">
    </div>
  </div>
  <button type="submit">Save Changes</button>
</form>


