.modal-header{
  background-color: rgba(255,198,165,1.0);
}

#registration-modal-body{
  background-size: cover;
}
#sign-in-modal-footer{
  background-color: gainsboro;
}
label{
  font-size: 20px;
}

.form-control{
  background-color: rgba(229, 228, 255, 0.0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  border-bottom-color: black;
  border-bottom-style: solid;
  font-size: 20px;

}
