.modal-header{
  background-color: #1976d2;
}
.modal-title{
  color: white;
}
.btn-hidden {
  color: white;
}
#registration-modal-body{
  background-color: gainsboro;
}
#registration-modal-footer{
  background-color: gainsboro;
}
