<app-top-bar></app-top-bar>
<div class="container">
  <h2 class="title-page" id="shoppingCart-h2">Shopping cart</h2>
</div>
<section class="section-content padding-y">
  <div class="container" id="cart-container">
    <div class="row">
      <main class="col-md-9">
        <div class="card">

          <table class="table table-shopping-cart" id="shoppingCart-table">
            <thead class="text-muted">
            <tr class="small text-uppercase">
              <th scope="col">Img</th>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col" width="120">Subtotal</th>
              <th scope="col" class="text-right" width="200"></th>
            </tr>
            </thead>
            <tbody>
            <tr app-product-row *ngFor="let s of productsInCart" [orderedProduct]="s"></tr>
            </tbody>
            <dl>
              <dt id="totalPrice">Total: ${{sumPrice(productsInCart)}}</dt>
            </dl>
          </table>
          <div class="card-body border-top" id="cbody" >
            <button type="button" class="btn btn-primary" routerLink="/main">Back</button>
            <button type="button" class="btn btn-success ml-1" routerLink="/purchase-form">Purchase</button>
          </div>
        </div>
        <!--<div class="alert alert-success mt-3">
          <p class="context"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
        </div>-->
      </main>
    </div>
  </div>
</section>
<app-footer></app-footer>
