
  <app-top-bar></app-top-bar>
  <div class="container">
    <ngb-carousel [animation]="true" [interval]="3000"> <!--*ngIf="images"-->
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="text-align: center">
          <img src="../../../assets/red-shirt.png" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>ON SALE!</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="text-align: center">
          <img src="../../../assets/blue-shirt.png" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>INCREDIBLE PRIZE!</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="text-align: center">
          <img src="../../../assets/yellow-shirt.png" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>END OF SEASON SALE!</h3>
        </div>
      </ng-template>
    </ngb-carousel>
    <h2 class=mt-5>Costumer's favorites</h2>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <app-card src="assets/eff1f44d683c8d5453269376ffa5091c.jpg"></app-card>
      </div>
      <div class="col-md-6 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-md-6 col-lg-3">
        <app-card></app-card>
      </div>
      <div class="col-md-6 col-lg-3">
        <app-card></app-card>
      </div>
    </div>
</div>
  <app-footer></app-footer>
