img {
  width: 50%;
  height: 50%;
}

h3 {
  display: flex;
  justify-content: flex-end;
}

.picsum-img-wrapper {
  text-align: center;
  margin-top: 20px;
}

.image-card {
  display: flex;
  justify-content: space-around;
}

.carousel-caption {
  color: black;  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  carousel-control-color: black;
}

.carousel-control-next-icon{
  filter: invert(1);
}
.carousel-control-prev-icon {
  filter: invert(1);
}
