img {
  width: 50%;
  height: 50%;
}

h3 {
  display: flex;
  justify-content: flex-end;
}

.picsum-img-wrapper {
  text-align: center;
  margin-top: 20px;
}

.gender-card {
  display: flex;
  flex-direction: column;
}

