@import '~bootstrap/dist/css/bootstrap.min.css';


@font-face {
  font-family: "Oswald";
  src: url("assets/Oswald-VariableFont_wght.ttf") format("opentype");

}

body{
  /*background-image: url("src/assets/pexels-photo-1631677.jpeg");*/
  /*background-image: url("src/assets/background.jpg");*/
  background-color: antiquewhite;



  background-size: cover;
  background-attachment: fixed;
  font-family: 'Oswald', cursive;

}

router-outlet + * {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
